<%- include("./includes/header.ejs")%>
	<body class="img js-fullheight" style="background-image: url();">
	<section class="ftco-section">
		<div class="container">
			<div class="row justify-content-center">
				<div class="col-md-6 text-center mb-3">
					<h2 class="heading-section"><%= tittle %></h2>
				</div>
			</div>
			<div class="row justify-content-center">
				<div class="col-md-6 col-lg-4">
					<div class="login-wrap p-0">
						
		      	<!-- <h3 class="mb-4 text-center">Have an account?</h3> -->
		      	<form class="signin-form" id="form">
		      		<div class="form-group">
		      			<input type="text" class="form-control" placeholder="Username" name="username" required>
						<small id="username" style="font-size: 13px;" class="text-center error text-danger d-block"></small>
		      		</div>
					  <div class="form-group">
						<input type="email" class="form-control" placeholder="Email" name="email" required>
						<small id="email" style="font-size: 13px;" class="text-center error text-danger d-block"></small>
					</div>
	            <div class="form-group">
	              <input id="password-field" type="password" class="form-control" placeholder="Password" name="password" required>
				  <span toggle="#password-field" class="fa fa-fw fa-eye field-icon toggle-password"></span>
				  <small id="password" style="font-size: 13px;" class="text-center error text-danger d-block"></small>
	            </div>
				<div class="form-group">
					<input id="password-field2" type="password" class="form-control" placeholder="Confrim Password" name="confrim_password" required>
					<span toggle="#password-field2" class="fa fa-fw fa-eye field-icon toggle-password"></span>
					<small id="confrimpw" style="font-size: 13px;" class="text-center error text-danger d-block"></small>
				  </div>
	            <div class="form-group">
	            	<button id="btn" type="submit" class="form-control btn btn-primary submit px-3">Register</button>
	            </div>
	   
	          </form>



	          <p class="w-100 text-center">&mdash; Register Or Sign In &mdash;</p>
	          <div class="social d-flex text-center">
	          	<a href="./login" class="px-2 py-2 mr-md-1 rounded"><span class="ion-logo-facebook mr-2"></span> Sign In</a>
	          	<a href="./register" class="px-2 py-2 ml-md-1 rounded"><span class="ion-logo-twitter mr-2"></span> Register</a>
	          </div>
		      </div>
				</div>
			</div>
		</div>
	</section>







	<script src="js/jquery.min.js"></script>
  <script src="js/popper.js"></script>
  <script src="js/bootstrap.min.js"></script>
  <script src="js/main.js"></script>
  <script>
$("#form").submit(function(e) {

e.preventDefault(); // avoid to execute the actual submit of the form.

var form = $(this);


$.ajax({
	type: "POST",
	url: './register',
	
	data: form.serialize(), // serializes the form's elements.
	success: function(data)
	{
	//   console.log(data.errors.confrim_password.msg); 
	//   console.log(data); 
	function updateErrorMessage(field, error) {
    const element = document.getElementById(field);
    if (element) {
        element.innerText = error ? error.msg : null;
    }
}

updateErrorMessage('username', data.errors.username);
updateErrorMessage('email', data.errors.email);
updateErrorMessage('password', data.errors.password);
updateErrorMessage('confirmpw', data.errors.confirm_password);

	  if(data.success.approved===true){
		document.getElementById('btn').innerText='Success'
	  }else{
		document.getElementById('btn').innerText='REGISTER'
	  }
	},beforeSend:function(){
		
		document.getElementById('btn').innerText='Sending Data...'
	}
});

});
  </script>
	</body>
</html>

